body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.poem_link {
  color: blue;
  text-decoration: underline;
}

#相關詩詞 {
  color: green;
  font-weight: bold;
  font-size: 150%;
}
